asn1crypto==0.24.0
attrs==19.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.6.1
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
dkpro-cassis==0.2.0.dev0
en-core-web-md==2.0.0
en-core-web-sm==2.0.0
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.3.3
MarkupSafe==1.1.1
mkl-fft==1.0.6
mkl-random==1.0.1
msgpack==0.6.1
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
numpy==1.15.4
plac==0.9.6
preshed==2.0.1
pycparser==2.19
pyOpenSSL==19.0.0
pyreadline==2.1
PySocks==1.6.8
regex==2019.4.14
requests==2.21.0
six==1.12.0
sortedcontainers==2.1.0
spacy==2.0.16
thinc==6.12.1
toolz==0.9.0
toposort==1.5
tqdm==4.31.1
ujson==1.35
urllib3==1.24.2
Werkzeug==0.15.3
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.10.11
